# Arquivos do Netlify (não necessários para Render)
.nvmrc
package.json
netlify.toml
.netlifyignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Banco de dados
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db



